<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheet/repository.css">

    <title>GitHub Client</title>
  </head>
  <body>
    <body>
    <div class="container-fluid">
      <header>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <h1>Repository</h1> <!-- bisa diganti jadi nama repo-->
          </div>
          <div class="col-md-3"></div>
        </div>
      </header>

      <div class="row repositoryInfo">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p>Description</p>
          <div class="repoStats">
            <p>Forks: #</p>
            <p>Stars: #</p>
            <p>Watchers: #</p>
            <p>Issue Count: #</p>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div> <!-- /end of repositoryInfo -->

      <div class="row files">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h3>Files</h3>
          <hr />
          <p>Directory 1</p>
          <p>File 1 Dir 1</p>
          <p>File 2 Dir 1</p>
          <p>Directory 2</p>
          <p>File 1 Dir 2</p>
          <p>File 2 Dir 2</p>
          <p>File 1</p>
          <p>File 2</p>          
        </div>
        <div class="col-md-2"></div>
      </div> <!-- /end of files -->

      <div class="row commits">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h3>Commits</h3>
          <hr />
          <p>Commits on Feb 28, 2018</p>
          <div class="oneCommit">
            <h5>Commit content 1</h5>
            <p>verenaseverina commited 7 hours ago</p>
          </div>
          <div class="oneCommit">
            <h5>Commit content 2</h5>
            <p>verenaseverina commited 8 hours ago</p>
          </div>
        </div>
        <div class="col-md-2"></div>        
      </div> <!-- /end of commits -->

      <div class="row branch">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h3>XX Branch</h3>
          <hr />
          <h5>BranchName1</h5>
          <h5>BranchName2</h5>
          <h5>BranchName3</h5>
        </div>
        <div class="col-md-2"></div>
      </div> <!-- /end of branch -->

      <div class="row contributors">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h3>Contributors</h3>
          <hr />
          <h5>Contributors1</h5>
          <h5>Contributors2</h5>
          <h5>Contributors3</h5>
        </div>
        <div class="col-md-2"></div>
      </div> <!-- /end of contributors -->

      <div class="row issues">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h3>Issues</h3>
          <hr />
          <p>Issues Content 1</p>
          <p>Issues Content 2</p>
          <p>Issues Content 3</p>
        </div>
        <div class="col-md-2"></div>
      </div> <!-- /end of issues -->
      
      <div class="row pullRequests">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h3>Pull Requests</h3>
          <hr />
          <p>Pull Request Content 1</p>
          <p>Pull Request Content 2</p>
          <p>Pull Request Content 3</p>
        </div>
        <div class="col-md-2"></div>
      </div> <!-- /end of pullRequests -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>